<div class="hero-detail-container" *ngIf="hero$ | async">
  <div class="hero-detail">
    <div class="hero-pic">
      <img [src]="(hero$ | async)._picture" alt="Hero Picture">
    </div>
    <h1 class="hero-name">{{(hero$ | async)._nickname}}</h1>
    <div class="hero-form">
      <p>
        <label for="">
          Name:
          <input type="text" value="{{(hero$ | async)._name}}" #name />
        </label>
      </p>
      <p>
        <label for="">
          Height (mt):
          <input type="text" value="{{(hero$ | async)._height}}" #height />
        </label>
      </p>
      <p>
        <label for="">
          Nickname:
          <input type="text" value="{{(hero$ | async)._nickname}}" #nickname />
        </label>
      </p>
      <input type="hidden" value="{{(hero$ | async)._picture}}" #picture />
      <input class="btn btn-primary" type="button" value="Save"
             (click)="saveHero(name.value, height.value, nickname.value, picture.value);
                      name.value=''; height.value=''; nickname.value=''; picture.value=''" />
      <input (click)="goBack()" class="btn btn-secondary" type="button" value="Go Back" />
    </div>
  </div>
</div>