<div class="hero-detail-container">
  <div class="hero-detail">
    <div class="hero-pic">
      <img src="https://i.annihil.us/u/prod/marvel/i/mg/9/30/538cd33e15ab7/standard_xlarge.jpg" alt="Hero Picture">
    </div>
    <h1 class="hero-name">Spiderman</h1>
    <div class="hero-form">
      <p>
        <label for="">
          Name:
          <input type="text" value="Peter Parker" #name />
        </label>
      </p>
      <p>
        <label for="">
          Height (mt):
          <input type="text" value="1.75mt" #height />
        </label>
      </p>
      <p>
        <label for="">
          Nickname:
          <input type="text" value="Spiderman" #nickname />
        </label>
      </p>
      <input class="btn btn-primary" type="button" value="Save" />
    </div>
  </div>
</div>