* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white url("/src/assets/img/bg-heroes.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #333;
  font-family: 'Roboto', sans-serif;
}