<div class="card-container">
  <a class="card" *ngFor="let hero of heroes$ | async; let i = index"
     routerLink="/heroes/{{hero._nickname}}">

    <div class="card-avatar">
      <div class="card-avatar--pic">
        <img [src]="hero._picture" alt="Hero Picture">
      </div>
      <span class="card-avatar--badge">{{ i + 1 | ordinal }}</span>
    </div>
    <div class="card-description">
      <h2>{{hero._nickname}}</h2>
      <p>{{hero._name}}</p>
      <p>Height: {{hero._height}}mt</p>
    </div>

  </a>
</div>